Repository AAVSO/VStar, pull requests merged in 2021-02, with the labels that each got.

#115 Flex text format multispace delim
  plugin/doc/FlexibleTextFileFormat Plug-In.docx
  plugin/doc/FlexibleTextFileFormat Plug-In.odt
  plugin/doc/FlexibleTextFileFormat Plug-In.pdf
  plugin/src/org/aavso/tools/vstar/external/plugin/FlexibleTextFileFormatObservationSource.java
Labels: enhancement, plug-in

#118 #58: VeLa variables may undesirably change type
  src/org/aavso/tools/vstar/vela/VeLaEnvironment.java
  src/org/aavso/tools/vstar/vela/VeLaInterpreter.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: VeLa, bug

#122 "Chart Properties" tab in Preferences.
  src/org/aavso/tools/vstar/ui/dialog/prefs/ChartPropertiesSelectionPane.java
  src/org/aavso/tools/vstar/ui/dialog/prefs/PreferencesDialog.java
  src/org/aavso/tools/vstar/ui/mediator/Mediator.java
  src/org/aavso/tools/vstar/ui/pane/plot/AbstractObservationPlotPane.java
  src/org/aavso/tools/vstar/ui/resources/RevisionAccessor.java
  src/org/aavso/tools/vstar/util/prefs/ChartPropertiesPrefs.java
Labels: enhancement
