Repository AAVSO/VStar, pull requests merged in 2022-05, with the labels that each got.

#267 Issue 266: Heliocentric JD Converter plug-in documentation update
  plugin/doc/HJD Converter.docx
  plugin/doc/HJD Converter.odt
  plugin/doc/HJD Converter.pdf
Labels: documentation, plug-in

#269 VeLa Model Source Plug-In documentation initial upload.
  plugin/doc/VeLa Model Source Plug-In.docx
  plugin/doc/VeLa Model Source Plug-In.odt
  plugin/doc/VeLa Model Source Plug-In.pdf
Labels: documentation, plug-in

#270 176 fix ant mac
  .gitignore
  build.xml
  install-files/mac/VStar.app/Contents/Info.plist
  install-files/mac/VStar.app/Contents/MacOS/VStar
  install-files/mac/VStar.app/Contents/Resources/VStar.icns
Labels: build

#274 --default-look-and-feel command line option
  src/org/aavso/tools/vstar/ui/VStar.java
Labels: UI

#271 256 dcdft fwhm as a measure of period error
  src/org/aavso/tools/vstar/util/model/PeriodAnalysisDerivedMultiPeriodicModel.java
  test/org/aavso/tools/vstar/util/MiraDataSmall.java
  test/org/aavso/tools/vstar/util/period/dcdft/DcDftDerivedFourierModelErrorTest.java
Labels: enhancement

#279 278 broken fourier model cannot find specified frequency in dcdft result error
  src/org/aavso/tools/vstar/util/model/PeriodAnalysisDerivedMultiPeriodicModel.java
Labels: bug
