Repository AAVSO/VStar, pull requests merged in 2022-01, with the labels that each got.

#230 Issue 229 expressionvisitor parsedouble bug
  src/org/aavso/tools/vstar/vela/ExpressionVisitor.java
Labels: bug, VeLa

#231 Issue 227 poly model function error
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: bug, VeLa

#232 Issues 120 UTs for plugins
  .github/workflows/plugin-UT.yml
  .github/workflows/vstar-UT.yml
  build.xml
  plugin/build.xml
  plugin/src/org/aavso/tools/vstar/external/plugin/AAVSOUploadFileFormatObservationSource.java
  plugin/src/org/aavso/tools/vstar/external/plugin/ASASObservationSource.java
  plugin/src/org/aavso/tools/vstar/external/plugin/ObserverListFilter.java
  plugin/test/data/eta_aql_asas.txt
  plugin/test/org/aavso/tools/vstar/external/plugin/AAVSOUploadFileFormatObservationSourceTest.java
  plugin/test/org/aavso/tools/vstar/external/plugin/ASASObservationSourceTest.java
  plugin/test/org/aavso/tools/vstar/external/plugin/AllTests.java
  plugin/test/org/aavso/tools/vstar/external/plugin/PluginTest.java
  src/org/aavso/tools/vstar/plugin/CustomFilterPluginBase.java
  src/org/aavso/tools/vstar/plugin/GeneralToolPluginBase.java
  src/org/aavso/tools/vstar/plugin/IPlugin.java
  src/org/aavso/tools/vstar/plugin/ModelCreatorPluginBase.java
  src/org/aavso/tools/vstar/plugin/ObservationSinkPluginBase.java
  src/org/aavso/tools/vstar/plugin/ObservationSourcePluginBase.java
  src/org/aavso/tools/vstar/plugin/ObservationToolPluginBase.java
  src/org/aavso/tools/vstar/plugin/ObservationTransformerPluginBase.java
  src/org/aavso/tools/vstar/plugin/filter/impl/VeLaFilterPlugin.java
  src/org/aavso/tools/vstar/plugin/period/PeriodAnalysisPluginBase.java
  test/org/aavso/tools/vstar/plugin/PluginManagerTest.java
  test/org/aavso/tools/vstar/util/date/J2000EpochHJDConverterTest.java
Labels: UT

#233 Issue 221 vela observation source plug in
  plugin/build.xml
  plugin/src/org/aavso/tools/vstar/external/plugin/VeLaObSource.java
  src/org/aavso/tools/vstar/ui/dialog/LoadChooser.java
  src/org/aavso/tools/vstar/ui/dialog/SaveChooser.java
  src/org/aavso/tools/vstar/ui/mediator/Mediator.java
Labels: enhancement, plug-in

#237 Issue 236 UTs
  ReadMe.md
  build.xml
  src/org/aavso/tools/vstar/vela/ExpressionVisitor.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: bug, UT

#238 Issue 235 vela dialog save
  src/org/aavso/tools/vstar/plugin/filter/impl/VeLaObservationFilterDialog.java
  src/org/aavso/tools/vstar/ui/mediator/Mediator.java
  src/org/aavso/tools/vstar/ui/vela/VeLaDialog.java
  src/org/aavso/tools/vstar/ui/vela/VeLaFileLoadChooser.java
  src/org/aavso/tools/vstar/ui/vela/VeLaFileSaveChooser.java
Labels: bug, enhancement

#240 NumericPrecisionPrefs output format compatible with ExpressionVisitor input one.
  src/org/aavso/tools/vstar/util/prefs/NumericPrecisionPrefs.java
Labels: bug

#241 #138: removed E+nn from real numbers in VeLa grammar; removed UT test…
  src/org/aavso/tools/vstar/vela/ExpressionVisitor.java
  src/org/aavso/tools/vstar/vela/VeLa.g4
  test/org/aavso/tools/vstar/util/locale/NumberParserTest.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: bug, VeLa
