Repository AAVSO/VStar, pull requests merged in 2023-01, with the labels that each got.

#312 #310: checking that selected series has observations
  src/org/aavso/tools/vstar/ui/model/plot/ObservationAndMeanPlotModel.java
Labels: bug

#313 #311: quoting comments field including escaping of quotesw
  src/org/aavso/tools/vstar/data/ValidObservation.java
Labels: bug

#315 #308: checking whether the coordinate is present in the period analys…
  src/org/aavso/tools/vstar/ui/dialog/period/PeriodAnalysis2DChartPane.java
  src/org/aavso/tools/vstar/util/period/dcdft/PeriodAnalysisDataPoint.java
Labels: bug

#316 Kepler/TESS and QLP observation sources were updated
  plugin/src/org/aavso/tools/vstar/external/plugin/KeplerFITSObservationSource.java
  plugin/src/org/aavso/tools/vstar/external/plugin/QLPFITSObservationSource.java
Labels: enhancement, plug-in

#322 Filter on "quality" for QLP fixed
  plugin/src/org/aavso/tools/vstar/external/plugin/QLPFITSObservationSource.java
Labels: bug, plug-in

#323 Fixed issue #289 (format of precompiled ASAS-SN light curves was changed)
  plugin/src/org/aavso/tools/vstar/external/plugin/ASASSNObservationSource.java
Labels: bug, plug-in

#328 #327: fixed case where no mean series source has been determined, e.g…
  plugin/src/org/aavso/tools/vstar/external/plugin/AAVSOUploadFileFormatObservationSource.java
  src/org/aavso/tools/vstar/ui/pane/plot/ObservationAndMeanPlotPane.java
Labels: bug, plug-in

#329 324 provide means to know the valid names for columns used in vela filter
  src/org/aavso/tools/vstar/plugin/filter/impl/VeLaObservationFilterDialog.java
  src/org/aavso/tools/vstar/ui/model/list/AAVSOFormatRawDataColumnInfoSource.java
  src/org/aavso/tools/vstar/ui/model/list/ArbitraryFormatPhasePlotColumnInfoSource.java
  src/org/aavso/tools/vstar/ui/model/list/ArbitraryFormatRawDataColumnInfoSource.java
  src/org/aavso/tools/vstar/ui/model/list/ITableColumnInfoSource.java
  src/org/aavso/tools/vstar/ui/model/list/SimpleFormatRawDataColumnInfoSource.java
  src/org/aavso/tools/vstar/vela/VeLaValidObservationEnvironment.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: VeLa
