Repository AAVSO/VStar, pull requests merged in 2024-06, with the labels that each got.

#428 424: changed exception handling in text format obs reader
  src/org/aavso/tools/vstar/plugin/ObservationSourcePluginBase.java
  src/org/aavso/tools/vstar/plugin/ob/src/impl/TextFormatObservationSourcePlugin.java
Labels: bug

#427 425 time shifter plugin
  plugin/build.xml
  plugin/doc/Magnitude Baseline Shifter Plug-In.odt
  plugin/doc/Magnitude Baseline Shifter Plug-In.pdf
  plugin/doc/Magnitude and Time Shifter Plug-In.odt
  plugin/doc/Magnitude and Time Shifter Plug-In.pdf
  plugin/src/org/aavso/tools/vstar/external/plugin/MagnitudeAndTimeShifter.java
  plugin/src/org/aavso/tools/vstar/external/plugin/MagnitudeBaselineShifter.java
Labels: plug-in

#430 429 error while creating vela model
  plugin/src/org/aavso/tools/vstar/external/plugin/VeLaModelCreator.java
  src/org/aavso/tools/vstar/vela/VeLaValidObservationEnvironment.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: bug

#426 Bjd tools
  plugin/build.xml
  plugin/src/org/aavso/tools/vstar/external/lib/ConvertHelper.java
  plugin/src/org/aavso/tools/vstar/external/plugin/BJDConverter.java
  plugin/src/org/aavso/tools/vstar/external/plugin/HJDConverter.java
  plugin/src/org/aavso/tools/vstar/external/plugin/JDToDateTool.java
  plugin/src/org/aavso/tools/vstar/external/plugin/JDtoBJDTool.java
Labels: enhancement, plug-in

#433 #423: added DSLR OBSTYPE
  plugin/src/org/aavso/tools/vstar/external/plugin/AAVSOUploadFileFormatObservationSource.java
Labels: bug, plug-in

#432 431 plot control checkboxes sometimes go out of sync
  src/org/aavso/tools/vstar/ui/mediator/DocumentManager.java
  src/org/aavso/tools/vstar/ui/mediator/Mediator.java
Labels: bug, UI

#434 #394: fixed error message resulting from no result for functions that return no values
  src/org/aavso/tools/vstar/ui/vela/VeLaDialog.java
Labels: bug, VeLa
