Repository AAVSO/VStar, pull requests merged in 2024-07, with the labels that each got.

#436 404 arithmetic operations over lists in vela
  src/org/aavso/tools/vstar/vela/VeLaInterpreter.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: VeLa

#439 #438: added common binary operator error method and made liberal use …
  src/org/aavso/tools/vstar/vela/VeLaInterpreter.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: enhancement, VeLa

#444 #440: ensured that converted operand is returned and fixed UT results…
  plugin/src/org/aavso/tools/vstar/external/plugin/VeLaObservationTransformer.java
  src/org/aavso/tools/vstar/vela/FunctionExecutor.java
  src/org/aavso/tools/vstar/vela/Operand.java
  src/org/aavso/tools/vstar/vela/Type.java
  src/org/aavso/tools/vstar/vela/VeLaInterpreter.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: bug, VeLa

#443 VeLaObSource: code editor undo/redo; new "Check" button: check code and parameters before execution
  plugin/src/org/aavso/tools/vstar/external/plugin/VeLaObSource.java
  src/org/aavso/tools/vstar/ui/resources/RevisionAccessor.java
Labels: enhancement, plug-in

#445 #441: changed operation check in UserDefinedFunction to a simple cond…
  src/org/aavso/tools/vstar/vela/UserDefinedFunctionExecutor.java
  src/org/aavso/tools/vstar/vela/VeLaInterpreter.java
  src/org/aavso/tools/vstar/vela/VeLaScriptDriver.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: bug, VeLa

#446 357 alternative vela block and selection syntax
  script/VeLa/fact.vl
  script/VeLa/piecewise_linear_model.vl
  script/VeLa/velarepl.vl
  src/org/aavso/tools/vstar/vela/AST.java
  src/org/aavso/tools/vstar/vela/ExpressionVisitor.java
  src/org/aavso/tools/vstar/vela/Operation.java
  src/org/aavso/tools/vstar/vela/VeLa.g4
  src/org/aavso/tools/vstar/vela/VeLaInterpreter.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: enhancement, VeLa
