Repository AAVSO/VStar, pull requests merged in 2025-05, with the labels that each got.

#491 Error selecting the work dataset in DFTandSpectralWindow fix
  plugin/src/org/aavso/tools/vstar/external/plugin/DFTandSpectralWindow.java
Labels: bug, plug-in

#492 489 vela help support
  src/org/aavso/tools/vstar/vela/ExpressionVisitor.java
  src/org/aavso/tools/vstar/vela/FunctionExecutor.java
  src/org/aavso/tools/vstar/vela/JavaMethodExecutor.java
  src/org/aavso/tools/vstar/vela/Operand.java
  src/org/aavso/tools/vstar/vela/Operation.java
  src/org/aavso/tools/vstar/vela/UserDefinedFunctionExecutor.java
  src/org/aavso/tools/vstar/vela/VeLa.g4
  src/org/aavso/tools/vstar/vela/VeLaInterpreter.java
  test/org/aavso/tools/vstar/vela/VeLaTest.java
Labels: VeLa

#497 493 improvements to function help output intrinsics vela editor
  src/org/aavso/tools/vstar/vela/FunctionExecutor.java
  src/org/aavso/tools/vstar/vela/VeLaInterpreter.java
Labels: enhancement

#501 #500: added Request Observation Text button on additive load file chooser
  plugin/src/org/aavso/tools/vstar/external/plugin/DFTandSpectralWindowTest.java
  plugin/src/org/aavso/tools/vstar/external/plugin/KeplerFITSObservationSource.java
  plugin/src/org/aavso/tools/vstar/external/plugin/LightKurveFITSObservationSource.java
  plugin/src/org/aavso/tools/vstar/external/plugin/QLPFITSObservationSource.java
  plugin/src/org/aavso/tools/vstar/external/plugin/SuperWASPFITSObservationSource.java
  src/org/aavso/tools/vstar/data/validation/UncertaintyValueValidator.java
  src/org/aavso/tools/vstar/plugin/ObservationSourcePluginBase.java
  src/org/aavso/tools/vstar/plugin/PluginComponentFactory.java
  src/org/aavso/tools/vstar/ui/dialog/AdditiveLoadFileOrUrlChooser.java
  src/org/aavso/tools/vstar/ui/dialog/TextDialog.java
  src/org/aavso/tools/vstar/ui/task/NewStarFromObSourcePluginTask.java
Labels: enhancement, UI
